@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: inherit;
  }

  body,
  html {
    min-height: 100vh;
  }

  .reserve-card input {
    @apply block w-full py-2 px-4 mb-3 font-thin placeholder:text-neutral-600 rounded-[0.6rem] bg-gray-100;

  }

  .nav-link {
    @apply font-normal text-base text-neutral-500 hover:text-black transition;
    &.active {
      @apply text-black;
    }
  }

  .banner {
    background-image: url('./assets/banner-image.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 660px;
  }

  .service-card button {
    width: 150px;
  }

  .tabs button{
    @apply py-2 px-3 md:px-5 md:mx-2 rounded-[0.5rem] transition-colors duration-200 ease-in-out;
  }
  
  form .active, .tabs .active {
    @apply bg-accent;
  }

  .slider-card:hover .car {
    transform: scale(1.04);
    opacity: 0.9;
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  }

  footer a {
    @apply hover:text-white transition;
  }
  footer li {
    @apply mb-2;
  }

  /* Utility Classes */
  .container-default {
    width: min(1200px, 100vw - 2rem);
    margin-inline: auto;
  }

  .container-big {
    width: 95vw;
    margin-inline: auto;
  }
}
